.animation {
    position: relative;
    width: 100%;

    &--debug .debug  {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(#666, .8);
        border-radius: .125em;
        border: 1px solid #444;
        padding: .25em;
        min-width: 0em;
        max-width: 20em;

        .debug__info {
            background-color: rgba(#fff, .75);
            padding: .25em;
        }
    }

    .stage {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}