.App {
  text-align: left;
  padding: 1em 2em;

  h1 {
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
    margin: 1em 0;
  }

  section {
    background-color: #ddd !important;

    & > article {
      background-color: #fff;
    }
  }

  section, article {
    padding: 1em;
    border: 1px solid #aaa;
    margin-bottom: 1.5em;

    *:first-child {
      margin-top: initial;
    }

    &:last-child {
      margin-bottom: initial;
    }
  }
}