
  pre {
    padding: 1em;
    border-radius: .5em;
    background-color: #eee;
    border: 1px solid #aaa;
  }

  .verticle-list {

    .stage {
      & > * {
        width: 8em;
        position: relative;
        transform: translate(-8em, 0px) scale(0, 0);
        padding: .25em .5em;
        border-radius: .25em;
        border: 1px solid #888;
        background: #ccc;
        margin-bottom: 0;
      }
    } 
  }

  .bounce {

    .stage {
      & > * {
        width: 8em;
        display: inline-block;
        position: relative;
        transform: translate(0, -3em) scale(0, 0);
        padding: .25em .5em;
        border-radius: .25em;
        border: 1px solid #888;
        background: #ccc;
      }
    } 
  }